html{
    padding: 0;
    margin: 0;
}

.head{
    background-color: #eee; 
    padding-bottom: 30px; 
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 50px;
}

[type="search"]{ 
    height: 50px; 
    border-radius: 
    5px; width: 400px; 
    max-width: 100%; 
    border: 1px solid #aaa; 
    margin: 30px 0 10px; 
    padding: 0 20px;
}
.user_sentence{
    width:800px;
}
.result{
    width: 600px;
    min-height: 400px;
    margin: -30px auto 0;
    border-radius: 5px;
    border: 1px solid #aaa;
    background: #fff;
    max-height: 400px;
    overflow-y: auto;
}
.result.loading{
    position: relative;
}
.result.loading:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/static/img/loading.gif) center/50px no-repeat rgba(255,255,255,0.3);
}


.result ul{
    list-style: none;
    padding: 0;
}

.result li{
    padding: 10px 40px;
    font-size: 18px;
}

.result ul>li:nth-child(even){
    background: #fefefe;
}

.result ul>li:nth-child(odd){
    background: #efefef;
}

button{
    height: 50px;
    background: rgba(66,133,244,0.12);
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 50px;
    color: #1967d2;

}

table td{
    padding: 10px;
}

.slider_value{
    width:50px;
    text-align: center;
    margin-right: 30px;
}

/* The Modal(Automated Metrics(BLEU,GLEU,...) scores pop-up) style */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
      text-align: right;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }