<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Automated paraphrasing Tool</title>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    </head>
    <body>

        <div class="head">
            <form id="mainform">
                <div class="container ">
                    <input type="text" name="user_utterance"  placeholder="insert a sentence to paraphrase" />
                    <input type="submit" value="generate" />
                </div>
                <div class="container ">
                    <table>
                        <tr>
                            <td> Pipeline Configuration: </td>
                            <td>
                                <select id="monselect" name="configuration">
                                    <!-- run pipeline with one component -->
                                    <option value="c1" name="l1" id="c1">Pivot-Translation</option>
                                    <option value="c2" name="l2" id="c2" >Weak-Supervision</option>
                                    <option value="c3" name="l3" id="c3">T5</option>
                                    <!-- pipeline start with weak supervision -->
                                    <option value="c4" name="l4" id="c4">Weak-Supervision + Pivot-Translation</option>
                                    <option value="c5" name="l5" id="c5">Weak-Supervision + T5</option>
                                    <option value="c6" name="l6" id="c6">Weak-Supervision + Pivot-Translation + T5</option>
                                    <option value="c7" name="l7" id="c7">Weak-Supervision  + T5 + Pivot-Translation</option>
                                    <!-- pipeline start with pivot translation -->
                                    <option value="c8" name="l8" id="c8">Pivot-Translation + Weak-Supervision</option>
                                    <option value="c9" name="l9" id="c9">Pivot-Translation + T5</option>
                                    <option value="c10" name="l10" id="c10">Pivot-Translation + Weak-Supervision + T5</option>
                                    <option value="c11" name="l11" id="c11">Pivot-Translation + T5 + Weak-Supervision</option>
                                    <!-- pipeline start with T5 -->
                                    <option value="c12" name="l12" id="c12">T5 + Weak-Supervision</option>
                                    <option value="c13" name="l13" id="c13">T5 + Pivot-Translation</option>
                                    <option value="c14" name="l14" id="c14">T5 + Pivot-Translation + Weak-Supervision</option>
                                    <option value="c15" name="l15" id="c15">T5 + Weak-Supervision + Pivot-Translation</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> Pivot Level: </td>
                            <td> <input type="radio" name="pivot_level" id="pivot1" value="1"> 1</td>
                            <td> <input type="radio" name="pivot_level" id="pivot2" value="2"> 2</td>
                        </tr>
                        <tr>
                            <td> Use pre-trained: </td>
                            <td> <input type="radio" name="pre_trained_mt" id="pre1" value="yes"> Yes</td>
                            <td> <input type="radio" name="pre_trained_mt" id="pre2" value="no"> No</td>
                        </tr>
                        <tr>
                            <td> T5 sequence number per: </td>
                            <td>
                                <input type="text" id="slider_value_input" value="30" class="slider_value" readonly="readonly"> 
                                10<input type="range" min="10" max="200" value="30" class="slider" name="num_seq_slider" id="num_seq_slider" onchange="updateTextInput(this.value);">200
                            </td>
                        </tr>
                        <tr>
                            <td> Candidate Selection: </td>
                            <td> <input type="radio" name="pruning" id="pruning1" value="On"> On</td>
                            <td> <input type="radio" name="pruning" id="pruning2" value="Off"> Off</td>
                        </tr>
                        <tr>
                            <td> Compute automated parpahrases quality metrics scores: </td>
                            <td> <input type="radio" name="compute_metrics" id="metrics1" value="On"> On</td>
                            <td> <input type="radio" name="compute_metrics" id="metrics2" value="Off"> Off</td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <div class="container main-wrap">
            <div class="result">
                <ul id="box">
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>

        <!-- The Automated Metrics(BLEU,GELU,...) scores pop-up  -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
            <span class="close">&times;</span>
            <ul id="pop-up"></ul>
            </div>
        
        </div>
        <script src="{{ url_for('static',filename='js/script.js') }}"></script>

    </body>
</html>
